/* General stuff */
body {
    background-color: #e9e9e9;
    margin: 0;
}


/* Small mobile viewport */
.navbar {
    background-color: #e9e9e9;
    padding: 12px;
    font-family: josefin sans;
    text-align: center;
}

#logo {
    height: 80px;
    width: 80px;
}

.content {
    background-color: white;
    border: black 2px solid;
}

.hide {
    display: none;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 12px;
}

h1 {
    font-family: Protest Guerrilla;
    text-align: center;
    padding: 12px;
    font-size: 3rem;
}

h2 {
    font-family: Protest Guerrilla;
    text-align: center;
    font-size: 3rem;
}

p {
    font-family: Josefin Sans;
    text-align: left;
    margin: 12px;
    font-size: 1.5rem;
}

.albums img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.albums #hidden {
    display: none;
}

.author img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

footer {
    background-color: #14181d;
    color: white;
    font-family: josefin sans;
    text-align: center;
    padding: 12px;
    font-size: 1.5rem;
}

.section1 {
    float: left;
}








/* Large mobile viewport */
@media (min-width:540px) {
.navbar {
    background-color: #e9e9e9;
    padding: 20px;
    font-family: josefin sans;
    text-align: center;
}

#logo {
    height: 80px;
    width: 80px;
}

.content {
    background-color: white;
    border: 50px;
    border: black 2px solid;
}

.hide {
    display: none;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 40px;
}

h1 {
    font-family: Protest Guerrilla;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    font-size: 3rem;
}

h2 {
    font-family: Protest Guerrilla;
    text-align: center;
    font-size: 3rem;
}

p {
    font-family: Josefin Sans;
    text-align: left;
    margin: 20px;
    font-size: 1.5rem;
}

.albums img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.albums #hidden {
    display: none;
}

.author img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #14181d;
    color: white;
    font-family: josefin sans;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}
}








/* Tablet viewport */
@media (min-width:720px) {
.navbar {
    background-color: #e9e9e9;
    font-family: josefin sans;
    text-align: center;
}

#logo {
    height: 80px;
    width: 80px;
}

.content {
    background-color: white;
    margin: 30px;
    border: black 2px solid;
}

.hide {
    display: none;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 60px;
}

h1 {
    font-family: Protest Guerrilla;
    text-align: center;
    margin: 30px;
    font-size: 3rem;
}

h2 {
    font-family: Protest Guerrilla;
    text-align: center;
    font-size: 3rem;
}

p {
    font-family: Josefin Sans;
    text-align: left;
    font-size: 1.5rem;
}

.albums img {
    float: left;
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
}

.albums #hidden {
    display: none;
}

.author {
    margin: 30px;
}

.author #auth {
    margin-top: 750px;
    margin-bottom: 20px;
}

.author img {
    border-radius: 50%;
    display: block;
    float: right;
    margin-top: 30px;
}

footer {
    background-color: #14181d;
    color: white;
    font-family: josefin sans;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
}
}









/* Desktop viewport */
@media (min-width:1024px) {
.navbar {
    background-color: #e9e9e9;
    font-family: josefin sans;
    text-align: center;
}

#logo {
    height: 200px;
    width: 200px;
}

.content {
    background-color: white;
    border: 50px;
    border: black 2px solid;
    margin: 100px;
    margin-top: 0;

}

.hide {
    display: block;
    margin: 0;
}

.hide h1 {
    font-size: 6rem;
    text-align: left;
    margin-bottom: 0;
    margin-left: 10px;
}

.hide h2 {
    font-size: 3rem;
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
}

#smallheader {
    display: none;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10%;
}

h1 {
    font-family: Protest Guerrilla;
    text-align: center;
    margin: 50px;
    font-size: 3rem;
}

h2 {
    font-family: Protest Guerrilla;
    text-align: left;
    padding-left: 20px;
    font-size: 3rem;
}

p {
    font-family: Josefin Sans;
    text-align: left;
    font-size: 1.5rem;
}

#first {
    font-size: 2rem;
    width: 80%;
    padding-left: 20px;
}

.albums img {
    float: left;
    width: 25%;
    height: auto;
    aspect-ratio: 1/1;
}

.albums #hidden {
    display: block;
    width: 50%;
    float: left;
}

.albums {
    margin-bottom: 40%;
}

.author {
    margin: 100px;
}

.author p {
    width: 80%;
}

.author #auth {
    margin-top: 60%;
    margin-bottom: 50px;
    text-align: center;
}

.author img {
    border-radius: 50%;
    display: block;
    float: right;
    margin-top: 0px;
    margin: 50px;
}

footer {
    background-color: #14181d;
    color: white;
    font-family: josefin sans;
    text-align: center;
    padding: 50px;
    font-size: 1.5rem;
}

.column {
    column-count: 3;
    column-gap: 10px;
    padding: 20px;
    text-align: left;
    padding-bottom: 50px;
}

}
